div.panel {
    display:flex; flex-wrap:wrap; column-gap:24px; justify-content:center;
    div.pannette {
        flex:0 0 47%;
        div.panneaux {
            min-width:305px;margin-top:12px;
        }
    }
}

h2.title {
    border-bottom: 1px solid color-mix(in srgb, var(--txt) 33%, transparent);
}

div.container {
    flex-shrink:1; display:flex; flex-wrap:wrap; align-content:space-between; justify-content:center; gap:16px 16px; padding-top:6px;
}

div.item {
    flex:1;max-width:600px;

    div {
        min-height:125px; background: var(--darken); color:#000; overflow: auto; display:flex;min-width: 0;
    }
    border: 1px solid color-mix(in srgb, var(--txt) 12%, transparent);
}


div.banner {
    flex:1;display:flex; flex-direction: column; max-width: fit-content; padding: 0 12px;
    align-items: center;
    a.panel-link {
        &__txt {
            margin: 6px 0 0 !important;
            border-bottom: 1px solid color-mix(in srgb, var(--txt) 6%, transparent);
        }
        &__img {
            min-width: 72px;
            max-width: 72px;
            margin: 0 !important;
            flex:1 !important;
            width: 100%;
            img {width: 100%;}
        }
    }
    background-color: color-mix(in srgb, var(--txt) 3%, transparent) !important;
}
div.content {
    flex: 1 0 auto;
    height: auto;
    display: flex;
    div {
        padding-left: 8px;
        width: 50%;
        flex-direction: column;
        border-left: 1px solid color-mix(in srgb, var(--txt) 12%, transparent);
    }
}