@use "sass:map";
@use "../variables.scss" as *;

:root {
  color-scheme: light dark;
  font-size: 16px;
  --bg: light-dark(rgb(247, 243, 238), rgb(25, 25, 25));
  --darken: light-dark(rgb(238, 231, 221), rgb(20, 20, 20));
  --txt: light-dark(rgb(74, 52, 28), rgb(240, 240, 240));
}

body {
  div.sidebar {
    background-image: light-dark(url("/static/bg_light.png"), url("/static/bg_dark.png")) !important;
  }

  div#quartz-body {
    --quartz-icon-color: inherit;
  }

  div#quartz-root {
    background-color: var(--bg);
    color: var(--txt);
  }

  &[data-slug],
  &[data-slug] .page > div#quartz-body,
  .page > div#quartz-body div.center,
  .page > div#quartz-body footer {
    background-color: var(--bg);
    color: var(--txt);
  }

  .page > div#quartz-body div.sidebar {
    background-color: var(--darken);
    color: var(--txt);
  }

  &[data-slug] div#quartz-root.page,
  .page > div#quartz-body div.sidebar.left,
  .page > div#quartz-body div.sidebar.left:has(.explorer),
  .page > div#quartz-body div.sidebar.left .explorer .explorer-content {
    background-color: var(--darken);
    color: var(--txt);
  }

  .page > div#quartz-body div.sidebar.right {
    background-color: var(--darken);
    color: var(--txt);
    border-left: 1px solid light-dark(rgb(233, 223, 209), rgb(50, 50, 50));
  }

  .page > div#quartz-body div.sidebar.left {
    border-right: 1px solid light-dark(rgb(233, 223, 209), rgb(50, 50, 50));
  }

  a.external,
  footer a {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    cursor: pointer;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: underline solid rgb(112, 122, 250);
    text-decoration-color: light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  a.internal,
  .breadcrumb-container .breadcrumb-element > a {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    cursor: pointer;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: underline solid rgb(112, 122, 250);
    text-decoration-color: light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  a.internal.broken {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    cursor: pointer;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: underline solid rgba(138, 92, 245, 0.3);
    text-decoration-color: rgba(138, 92, 245, 0.3);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  p {
    background-color: rgba(0, 0, 0, 0);
    color: var(--txt);
    cursor: auto;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: none solid rgb(240, 240, 240);
    text-decoration-color: var(--txt);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .page article p > strong,
  strong {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(240, 100, 119), rgb(208, 66, 85));
    cursor: auto;
    filter: none;
    font-weight: 600;
    outline: inherit;
    text-decoration: none solid rgb(208, 66, 85);
    text-decoration-color: light-dark(rgb(240, 100, 119), rgb(208, 66, 85));
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .page article p > b,
  b {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(240, 100, 119), rgb(208, 66, 85));
    cursor: auto;
    filter: none;
    font-weight: 600;
    outline: inherit;
    text-decoration: none solid rgb(208, 66, 85);
    text-decoration-color: light-dark(rgb(240, 100, 119), rgb(208, 66, 85));
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .page article p > em,
  em {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(124, 155, 255), rgb(112, 122, 250));
    cursor: auto;
    filter: none;
    font-weight: 600;
    outline: inherit;
    text-decoration: none solid rgb(112, 122, 250);
    text-decoration-color: light-dark(rgb(124, 155, 255), rgb(112, 122, 250));
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .page article p > i,
  i {
    background-color: rgba(0, 0, 0, 0);
    color: light-dark(rgb(124, 155, 255), rgb(112, 122, 250));
    cursor: auto;
    filter: none;
    font-weight: 600;
    outline: inherit;
    text-decoration: none solid rgb(112, 122, 250);
    text-decoration-color: light-dark(rgb(124, 155, 255), rgb(112, 122, 250));
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .text-highlight {
    background-color: rgba(255, 208, 0, 0.4);
    color: var(--txt);
    cursor: auto;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: none solid rgb(240, 240, 240);
    text-decoration-color: var(--txt);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  del {
    background-color: rgba(0, 0, 0, 0);
    color: var(--txt);
    cursor: auto;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: line-through solid rgb(240, 240, 240);
    text-decoration-color: var(--txt);
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:hover,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:focus,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus)) {
    background-color: light-dark(
      rgba(241, 230, 214, 0.7),
      rgba(18, 18, 18, 0.7)
    );
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    color: var(--txt);
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card:has(
      ~ .result-card.focus:not(
          :has(~ .result-card:hover, ~ .result-card:focus)
        ),
      ~ .result-card:focus,
      ~ .result-card:hover
    ) {
    background-color: rgba(0, 0, 0, 0);
    border: 0px var(--txt);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    color: var(--txt);
  }

  hr {
    border: 0px light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    border-top: 2px solid light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    box-shadow: none;
    margin: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
  }

  a.internal.tag-link,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card
    > ul
    > li
    > .match-tag {
    align-items: center;
    background-color: rgba(138, 92, 245, 0.1);
    display: flex;
    font-weight: 400;
    margin-inline-start: 0px;
    border: 0px solid rgba(138, 92, 245, 0.15);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-start-start-radius: 28px;
    border-start-end-radius: 28px;
    border-end-start-radius: 28px;
    border-end-end-radius: 28px;
  }

  a.internal.tag-link::before {
    color: light-dark(rgb(233, 179, 92), rgb(112, 122, 250));
  }

  ul > li {
    color: var(--txt);
    text-align: start;
  }

  ul > li::marker {
    background-color: light-dark(
      rgba(74, 52, 28, 0.9),
      rgba(240, 240, 240, 0.7)
    );
    border: 0px light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-start-start-radius: 50%;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-end-end-radius: 50%;
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    pointer-events: none;
    transform: none;
    transition: inherit;
  }

  ol > li {
    color: var(--txt);
    text-align: start;
  }

  ol > li::marker {
    background-color: light-dark(
      rgba(74, 52, 28, 0.9),
      rgba(240, 240, 240, 0.7)
    );
    border: 0px light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-start-start-radius: 50%;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-end-end-radius: 50%;
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    pointer-events: none;
    transform: none;
    transition: inherit;
  }

  code {
    background-color: light-dark(rgb(250, 238, 225), rgb(27, 27, 27));
    border: 0px solid light-dark(rgb(233, 223, 209), rgb(50, 50, 50));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    color: var(--txt);
    padding: 2.1px 4.2px;
  }

  pre > code,
  pre:has(> code) {
    background-color: light-dark(rgb(250, 238, 225), rgb(27, 27, 27));
    border: 0px solid light-dark(rgb(233, 223, 209), rgb(50, 50, 50));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    overflow-x: auto;
    padding: 12px 16px;
    white-space-collapse: preserve;
    text-wrap-mode: wrap;
  }

  pre:has(> code) {
    background-color: light-dark(rgb(250, 238, 225), rgb(27, 27, 27));
    border: 0px solid light-dark(rgb(233, 223, 209), rgb(50, 50, 50));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    overflow-x: auto;
    padding: 12px 16px;
    white-space-collapse: preserve;
    text-wrap-mode: wrap;
  }

  input[type="checkbox"] {
    appearance: auto;
    border: 2px inset light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    padding: 1px 2px;
    margin: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    width: auto;
    transition: inherit;
    position: static;
    top: auto;
  }

  ul > li.task-list-item {
    list-style: inherit;
    text-align: start;
    display: list-item;
  }

  input[type="checkbox"]:checked:after {
    content: none;
    top: auto;
    inset-inline-start: auto;
    position: static;
    width: auto;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    -webkit-mask-position: inherit;
    -webkit-mask-size: inherit;
    -webkit-mask-repeat: inherit;
    -webkit-mask-image: inherit;
  }

  .page article li:has(> input[type="checkbox"]:checked) {
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    text-decoration: line-through solid rgba(240, 240, 240, 0.7);
    text-decoration-color: light-dark(
      rgba(74, 52, 28, 0.9),
      rgba(240, 240, 240, 0.7)
    );
  }

  blockquote {
    background-color: rgba(0, 0, 0, 0);
    border-inline-start: inherit;
    font-style: normal;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-inline-start: 24px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .data-footnote-backref {
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    text-decoration: none solid rgba(240, 240, 240, 0.7);
  }

  .search > .search-button {
    background-color: light-dark(rgb(241, 230, 214), rgb(18, 18, 18));
    border: 1px solid light-dark(rgb(233, 223, 209), rgb(50, 50, 50));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    color: var(--txt);
  }

  .search > .search-container > .search-space {
    background-color: var(--darken);
    border: 1px solid light-dark(rgb(189, 189, 189), rgb(85, 85, 85));
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
    box-shadow:
      rgba(0, 0, 0, 0.07) 0px 1.8px 7.3px 0px,
      rgba(0, 0, 0, 0.114) 0px 6.3px 24.7px 0px,
      rgba(0, 0, 0, 0.2) 0px 30px 90px 0px;
  }

  .search > .search-container > .search-space > input {
    background-color: light-dark(rgb(241, 230, 214), rgb(18, 18, 18));
    border: 0px var(--txt);
    border-bottom: 1px solid
      light-dark(rgba(238, 231, 221, 0.5), rgba(20, 20, 20, 0.5));
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    box-shadow: none;
  }

  .search > .search-container > .search-space > * {
    background-color: rgba(0, 0, 0, 0);
    color: var(--txt);
    cursor: auto;
    filter: none;
    font-weight: 400;
    outline: inherit;
    text-decoration: none solid rgb(240, 240, 240);
    text-decoration-color: var(--txt);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: inherit;
    transition: inherit;
    user-select: text;
  }

  .search > .search-container > .search-space > .search-layout,
  .search > .search-container > .search-space > .search-layout.display-results {
    border: 1px solid light-dark(rgb(189, 189, 189), rgb(85, 85, 85));
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container {
    color: var(--txt);
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    .result-card {
    border: 0px var(--txt);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus)) {
    color: var(--txt);
    font-weight: 400;
    background-color: light-dark(
      rgba(241, 230, 214, 0.7),
      rgba(18, 18, 18, 0.7)
    );
  }

  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:hover
    .card-description,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card:focus
    .card-description,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus))
    .card-title,
  .search
    > .search-container
    > .search-space
    > .search-layout
    > .results-container
    > .result-card.focus:not(:has(~ .result-card:hover, ~ .result-card:focus))
    .card-description {
    color: var(--txt);
  }

  h1 {
    //color: light-dark(rgb(240, 100, 119), rgb(208, 66, 85));
    text-shadow: none;
  }

  h2 {
    //color: light-dark(rgb(245, 146, 75), rgb(213, 118, 52));
    text-shadow: none;
  }

  h3 {
    //color: light-dark(rgb(233, 179, 92), rgb(229, 181, 103));
    text-shadow: none;
  }

  h4 {
    //color: light-dark(rgb(154, 230, 92), rgb(168, 195, 115));
    text-shadow: none;
  }

  h5 {
    //color: light-dark(rgb(124, 155, 255), rgb(112, 122, 250));
    text-shadow: none;
  }

  h6 {
    //color: light-dark(rgb(144, 120, 241), rgb(147, 134, 200));
    text-shadow: none;
  }

  h2.page-title,
  h2.page-title a {
    //color: light-dark(rgb(240, 100, 119), rgb(208, 66, 85));
    text-shadow: none;
  }

  li.depth-0 {
    font-weight: 400;
  }

  ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: 0px var(--txt);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    box-shadow: none;
  }

  .callout {
    --callout-color: inherit;
    border: 0px solid
      light-dark(rgba(8, 109, 221, 0.25), rgba(2, 122, 255, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    mix-blend-mode: lighten;
    padding: 12px 12px 12px 24px;
  }

  .callout .callout-title {
    gap: inherit;
    border: 0px light-dark(rgb(8, 109, 221), rgb(2, 122, 255));
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    padding: 0px;
  }

  .callout .callout-title .callout-icon {
    fill: inherit;
    stroke: inherit;
  }

  .callout .callout-title > .callout-title-inner > p {
    color: light-dark(rgb(8, 109, 221), rgb(2, 122, 255));
    font-weight: 600;
  }

  .callout > .callout-content {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .callout[data-callout="note"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(8, 109, 221, 0.1),
      rgba(2, 122, 255, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(8, 109, 221, 0.25), rgba(2, 122, 255, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="note"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(2, 122, 255);
  }

  .callout[data-callout="abstract"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(0, 191, 188, 0.1),
      rgba(83, 223, 221, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(0, 191, 188, 0.25), rgba(83, 223, 221, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="abstract"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(83, 223, 221);
  }

  .callout[data-callout="info"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(8, 109, 221, 0.1),
      rgba(2, 122, 255, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(8, 109, 221, 0.25), rgba(2, 122, 255, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="info"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(2, 122, 255);
  }

  .callout[data-callout="todo"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(8, 109, 221, 0.1),
      rgba(2, 122, 255, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(8, 109, 221, 0.25), rgba(2, 122, 255, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="todo"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(2, 122, 255);
  }

  .callout[data-callout="tip"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(0, 191, 188, 0.1),
      rgba(83, 223, 221, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(0, 191, 188, 0.25), rgba(83, 223, 221, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="tip"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(83, 223, 221);
  }

  .callout[data-callout="success"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(8, 185, 78, 0.1),
      rgba(68, 207, 110, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(8, 185, 78, 0.25), rgba(68, 207, 110, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="success"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(68, 207, 110);
  }

  .callout[data-callout="question"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(236, 117, 0, 0.1),
      rgba(233, 151, 63, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(236, 117, 0, 0.25), rgba(233, 151, 63, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="question"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(233, 151, 63);
  }

  .callout[data-callout="warning"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(236, 117, 0, 0.1),
      rgba(233, 151, 63, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(236, 117, 0, 0.25), rgba(233, 151, 63, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="warning"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(233, 151, 63);
  }

  .callout[data-callout="danger"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(233, 49, 71, 0.1),
      rgba(251, 70, 76, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(233, 49, 71, 0.25), rgba(251, 70, 76, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="danger"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(251, 70, 76);
  }

  .callout[data-callout="failure"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(233, 49, 71, 0.1),
      rgba(251, 70, 76, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(233, 49, 71, 0.25), rgba(251, 70, 76, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="failure"] .callout-title .callout-icon {
    fill: none;
    stroke: rgba(240, 240, 240, 0.7);
  }

  .callout[data-callout="bug"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(233, 49, 71, 0.1),
      rgba(251, 70, 76, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(233, 49, 71, 0.25), rgba(251, 70, 76, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="bug"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(251, 70, 76);
  }

  .callout[data-callout="example"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(120, 82, 238, 0.1),
      rgba(168, 130, 255, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(120, 82, 238, 0.25), rgba(168, 130, 255, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="example"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(240, 240, 240);
  }

  .callout[data-callout="quote"] {
    --callout-color: inherit;
    background-color: light-dark(
      rgba(124, 155, 255, 0.1),
      rgba(112, 122, 250, 0.1)
    );
    mix-blend-mode: lighten;
    border: 0px solid
      light-dark(rgba(124, 155, 255, 0.25), rgba(112, 122, 250, 0.25));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }

  .callout[data-callout="quote"] .callout-title .callout-icon {
    fill: none;
    stroke: rgb(112, 122, 250);
  }

  .katex-display > .katex {
    display: block;
    text-align: center;
    white-space-collapse: break-spaces;
    text-wrap-mode: wrap;
  }

  .explorer .explorer-content ul.explorer-ul li a {
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    cursor: default;
    font-weight: 400;
    text-decoration: none solid rgba(240, 240, 240, 0.7);
  }

  .explorer .explorer-content ul.explorer-ul li:has(> .active) {
    background-color: light-dark(rgb(247, 203, 160), rgb(19, 19, 19));
    border: 0px var(--txt);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    color: var(--txt);
    cursor: default;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
  }

  .explorer
    .explorer-content
    li:has(> .folder-outer:not(.open))
    > .folder-container {
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    cursor: default;
    font-weight: 400;
    text-decoration: none solid rgba(240, 240, 240, 0.7);
  }

  .explorer .explorer-content li:has(> .folder-outer.open) > .folder-container {
    color: light-dark(rgba(74, 52, 28, 0.9), rgba(240, 240, 240, 0.7));
    cursor: default;
    font-weight: 400;
    text-decoration: none solid rgba(240, 240, 240, 0.7);
  }

  --current-page-slug: attr(data-slug raw-string);

  .search {
    & > .search-button {
      font-size: 1rem;
      svg {
        color: var(--search-icon-color, var(--text-muted, var(--darkgray)));
        stroke: var(--search-icon-color, var(--text-muted, var(--darkgray)));
      }
    }
    & > .search-container {
      & > .search-space {
        margin: 12vh auto;
        & > input {
          margin-bottom: 0;
          border-bottom: none;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          font-size: 1.1rem;
          &:has(+ :not(.display-results)) {
            border-radius: inherit;
          }
        }
        & > * {
          background: transparent;
          margin-bottom: 0;
          box-shadow: none;
        }
        & > .search-layout {
          &.display-results {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
          & .highlight {
            background-color: var(--quartz-text-highlight);
          }
          & > .results-container {
            & .result-card {
              @media all and not ($mobile) {
                display: flex;
                &.no-match {
                  display: block;
                }
              }
              &:has(~ .result-card:hover),
              &:has(~ .result-card:focus),
              &:has(~ .result-card.focus) {
                background-color: unset;
              }
              & > ul > li > p {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  .explorer {
    @media all and ($mobile) {
      &:not(.collapsed) > .explorer-content {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
      }
    }
    .explorer-content {
      .folder-container {
        --folder-closed-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5h-8.586L9.707 3.293A.997.997 0 0 0 9 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"></path></svg>');
        --folder-open-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>');

        text-overflow: ellipsis;
        position: relative;

        @media all and ($mobile) {
          padding-inline-start: 0.5rem;
          padding-inline-end: 0rem;
          border-radius: 0.25rem;
        }
        & > svg {
          opacity: 0.001;
          position: absolute;
        }
        &:before {
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          display: flex;
          align-self: center;
          background: var(--quartz-icon-color);
          content: "";
        }
        & > div {
          width: 100%;
        }
        &:hover {
          font-size: 1rem;
          line-height: 1.5rem;
          background-color: var(--nav-item-background-hover);
          border-radius: 0.25rem;
        }
      }
      li:has(> .folder-outer:not(.open)) > .folder-container:before {
        background: var(
          --collapse-icon-color-collapsed,
          var(--quartz-icon-color)
        );
        mask-image: var(--folder-closed-icon);
        -webkit-mask-image: var(--folder-closed-icon);
      }
      li:has(> .folder-outer.open) > .folder-container:before {
        background: var(--collapse-icon-color, var(--quartz-icon-color));
        mask-image: var(--folder-open-icon);
        -webkit-mask-image: var(--folder-open-icon);
      }
      ul.explorer-ul li {
        text-overflow: ellipsis;
        position: relative;

        a {
          display: flex;
          color: inherit;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: inherit;

          &.active,
          &:not(.folder-title):hover {
            font-size: 1rem;
            line-height: 1.5rem;
            background-color: var(--nav-item-background-hover);
            border-radius: 0.25rem;
          }
          &[data-for$="/index"] {
            padding-inline-start: 0.5rem;
            padding-inline-end: 0;
          }
          padding-inline-start: 0;

          @media all and ($mobile) {
            padding-inline-start: 0.5rem;
            padding-inline-end: 0.5rem;
            &[data-for$="/index"] {
              padding-inline-end: 0.5rem;
            }
          }
        }
        > a:before {
          --file-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          content: "";
          display: flex;
          align-self: center;
          background: var(--quartz-icon-color);
          mask-image: var(--file-icon);
          -webkit-mask-image: var(--file-icon);
          margin-inline-end: 0.5rem;
        }
      }
    }
  }

  .explorer svg,
  button.toc-header .fold,
  .global-graph-icon,
  .readermode,
  .darkmode {
    color: var(--quartz-icon-color);
    stroke: var(--quartz-icon-color);
  }

  @media all and not ($desktop) {
    .page > div#quartz-body div.sidebar.right {
      background-color: transparent;
      border-left: none;
    }
  }

  @media all and ($desktop) {
    div#quartz-root.page {
      display: grid;
      place-items: center;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0;
      div#quartz-body {
        width: min(100%, calc(#{map.get($breakpoints, desktop)} + 640px));
        max-width: min(100%, calc(#{map.get($breakpoints, desktop)} + 640px));
        padding: 0 auto;
      }
    }
    .page > #quartz-body {
      div.center,
      footer {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      footer {
        padding: 0 1.5rem;
      }
    }
  }

  @media all and ($tablet) {
    .page > #quartz-body {
      padding-left: 0;
      padding-right: 0;

      div.center,
      footer {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      div.sidebar.left {
        padding-left: 2rem;
      }

      div.sidebar.right,
      footer {
        padding: 0 1.5rem;
      }
    }
  }

  @media all and ($mobile) {
    .page > div#quartz-body div.sidebar.left {
      background-color: transparent;
      border-right: none;
    }
    .page > #quartz-body {
      padding: 0;

      div.center,
      footer {
        min-width: calc(100% - 3rem);
        max-width: calc(100% - 3rem);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      div.sidebar.left,
      div.sidebar.left:has(.explorer) {
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        max-width: 100%;
      }
      div.sidebar.right,
      footer {
        padding: 0 1.5rem;
      }
      footer {
        min-width: auto;
      }

      .explorer .explorer-content {
        width: 100vw;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .page-title {
      display: none;
    }
  }

  .callout.is-collapsed .callout-content > :first-child {
    margin-top: -4rem;
  }
  
  blockquote.callout {
    .callout-title > .callout-title-inner > p {
      color: var(--color);
    }
    &[data-callout] {
      --color: rgb(var(--callout-info));
    }
    &[data-callout="note"] {
      --color: rgb(var(--callout-default));
    }
    &[data-callout="abstract"] {
      --color: rgb(var(--callout-summary));
    }
    &[data-callout="info"] {
      --color: rgb(var(--callout-info));
    }
    &[data-callout="todo"] {
      --color: rgb(var(--callout-todo));
    }
    &[data-callout="tip"] {
      --color: rgb(var(--callout-tip));
    }
    &[data-callout="success"] {
      --color: rgb(var(--callout-success));
    }
    &[data-callout="question"] {
      --color: rgb(var(--callout-question));
    }
    &[data-callout="warning"] {
      --color: rgb(var(--callout-warning));
    }
    &[data-callout="failure"] {
      --color: rgb(var(--callout-fail));
    }
    &[data-callout="danger"] {
      --color: rgb(var(--callout-bug));
    }
    &[data-callout="bug"] {
      --color: rgb(var(--callout-bug));
    }
    &[data-callout="example"] {
      --color: rgb(var(--callout-example));
    }
    &[data-callout="quote"] {
      --color: rgb(var(--callout-quote));
    }
  }
}

:root[saved-theme="light"] {
  button.darkmode {
    mask-image: var(--sun-icon);
    -webkit-mask-image: var(--sun-icon);
  }
}

:root[saved-theme="dark"] {
  button.darkmode {
    mask-image: var(--moon-icon);
    -webkit-mask-image: var(--moon-icon);
  }
}